.center-text {
    text-align: center;
}

.shekel-container {
    width: 50%;
    float: left;
}

.upgrades {
    width: 50%;
}

.shekel-button {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: none;
}

.shekel-count {
    font-size: 30px;
    text-align: center;
}

.buy-button {
    width: 30px;
    height: 30px;
}